<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/style.css" type="text/css">
  <title>Log</title>
</head>
<body>
    <h2>Logs<h2>
        <table class="data-table">
          <thead class="data-headers">
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Time</td>
              <td>Meters</td>
              <td>Rate</td>
            </tr>
          </thead>
          <tbody>
          <% exer.forEach(function(details) { %>
            <tr>
              <td><%= details.username %></td>
              <td><%= details.type %></td>
              <td><%= details.time %></td>
              <td><%= details.meters %></td>
              <td><%= details.rate %></td>
              <td><a href="/delete/<%= details._id %>">Delete</a></td>
            </tr>
          <% }) %>
          </tbody>
    </body>
    <button class="back-btn"><a href="/start">Back to Main</a></button>
    <br>
</html>