<!-- 
    Name: Lucas Abeln
    Class: Web Development
    Assignment: WPD4
    Last Modified: 12/6/21
    Desc: Main page html doc, includes EJS calculations.
-->

<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <title>Champlog</title>
        <link rel="stylesheet" href="/public/style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <h1 id="title">Champlog</h1>
    </head>
    </div>
    <body class="body">
            <div id="cat">
                <form action="/get" method=get>
                <label id="cat-id" class="lab">Get by Date:</label><br>
                <br>
                <br>
                <label id="input-label" onChange="update()" for="response3">Year:</label>
                <select id="input" name = "year">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select><br>
                <label id="input-label" onChange="update()" for="response3">Month:</label>
                <select id="input" class="inputs" name="month" >
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select><br>
                <label id="input-label" for="response3">Day:</label>
                <input type="text" id="input" class="inputs" name="day" placeholder="00"><br>
                <input class="back-btn" type="submit" value="Find!">
                </form>
            <br>
                <br>
                <form id="log-form" action="/show" target="_blank" method="POST">
                    <label id="input-label"  onChange="update()" for="response1">Workout Type:   </label>
                    <select id="input" name="type" class="input">
                    <option value="Erg">Erg</option>
                    <option value="Bike">Bike</option>
                    </select><br>
                    <label id="input-label" for="response2">Time: </label>
                    <input type="text" id="input" class="inputs" name="time" placeholder="00:00"><br>
                    <label id="input-label" for="response2">Meters: </label>
                    <input type="text" id="input" class="inputs" name="meters" placeholder="0"><br>
                    <label id="input-label" for="response2">Rate: </label>
                    <input type="text" id="input" class="inputs" name="rate" placeholder="18"><br>
                    <label id="input-label" onChange="update()" for="response3">Month:</label>
                    <select id="input" class="inputs" name="month" >
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select><br>
                    <label id="input-label" for="response3">Day:</label>
                    <input type="text" id="input" class="inputs" name="day" placeholder="00"><br>
                    <label id="input-label" for="response3">Year:</label>
                    <input type="text" id="input" class="inputs" name="year" placeholder="0000"><br>
                    <button id="submit-btn" class="back-btn">Submit</button>
                </form>      
            </div>
            <% var i = 0 %>
            <% var g = 0 %>
            <% exer.forEach( function (x) { %>
            <% var time = x.time %>
            <% var array = time.split(":")%>
            <% var seconds = (parseInt(array[0], 10)* 60) + parseInt(array[1], 10)%>
            <% i += seconds%>
            <% g++%>
            <%})%>
            <% var avg = i / g %>
            <% var hours = avg / 60 %>
            <% hours = Math.floor(hours) %>
            <% var minutes = avg - (hours * 60) %>
            <% minutes = Math.floor(minutes) %>
            <% var holder = ""   %>
            <% if(minutes < 10){ %>
            <%    holder = "0"   %>
            <% }else holder = "" %>    
            <div id="log-canvas">
                <div id="avg" class="avgLeft">
                    <h2 class="metric">Avg Time <br> <br> <%= hours %>:<%= holder %><%= minutes %></h2>
                </div>
                <% if(minutes + 15 >= 60){ %>
                <%      hours++           %>
                <%      var interval = 15  %>
                <%      while(minutes != 60){ %>
                <%          minutes++      %>
                <%          interval--     %>
                <%      }                  %>
                <%      minutes = interval %>
                <% } else minutes = minutes + 15 %>
                <% holder = ""   %>
                <% if(minutes < 10){ %>
                <%    holder = "0"   %>
                <% }else holder = "" %>
                <div id="avg" class="avgRight">
                    <h2 class="metric">Goal <br> <br> <%= hours %>:<%= holder %><%= minutes %></h2>
                </div>
            </div>
    </body>
</html>